<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <!-- link css -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- link bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- link fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- animation link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- fancy gallery link  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
  </head>
  <body class="container-fluid">
    <!-- header section start here -->
    <header>
      <!-- company logo -->
      <section class="logo text-center bg-dark pt-2">
        <img
          src="../img/logo-hg.png"
          alt=""
          data-aos="zoom-in-left"
          data-aos-duration="3000"
        />
      </section>

      <!-- location-contacts -->
      <section class="location-contacts bg-dark py-3 text-light text-muted">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-5">
          <div class="col d-flex align-items-center">
            <div class="icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <p>
              <strong class="highlight">Office Address:</strong> <br />
              Kadim Gaziaron, Goshingga, Shreepur, Gazipur.
            </p>
          </div>
          <div class="col d-flex align-items-center">
            <div class="icon">
              <i class="fa-solid fa-phone-flip"></i>
            </div>
            <p>
              <strong class="highlight">Contact us:</strong> <br />
              Cell/WhatsApp: +880 1731106046
            </p>
          </div>
          <div class="col d-flex align-items-center">
            <div class="icon">
              <i class="fa-regular fa-clock"></i>
            </div>
            <p>
              <strong class="highlight">Working Hours</strong> <br />
              9:00 - 6:00 (GMT+6)
            </p>
          </div>
        </div>
      </section>
      <!-- navigation info  -->
      <section class="navbar-container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div
              class="nav-img bg-dark p-2"
              data-aos="zoom-in-left"
              data-aos-duration="2000"
            >
              <img src="../img/logo-hg.png" alt="" width="100" height="50" />
            </div>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa-solid fa-bars-staggered"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-black">
                <li class="nav-item">
                  <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Company Profile
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="./mission.html"
                        >Our Mission</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="./opportunities.html"
                        >Opportunites</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="./managemnt-profile.html"
                        >Management Profile</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Our R&D Activities
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        href="./production-processing-r&d.html"
                        >Production & Processing</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="./export-foreign.html"
                        >Our Export & Foreign Activities</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="./department.html"
                        >Our Departments</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./photo-gallery.html"
                    >Photo Gallery</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./products.html">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contact-us.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <main class="container py-5 my-5">
      <h1 class="text-center fw-bold">Photo <span class="highlight">Gallrey</span></h1>
      <div id="gallery" class="row row-cols-2 row-cols-md-3 g-3 my-3">
        
      </div>
    </main>
    <footer class="bg-dark text-light">
      <section class="footer-information mx-5 p-5 d-md-flex gap-3">
        <div>
          <h4 class="highlight"><strong>About Us</strong></h4>
          <p class="text-muted">
            Home Grow is an initiative in agriculture sector with a new vision
            was incorporated in the year of 2019 to enter in international seed
            market by exporting and contract seed production as well as increase
            food production of country and upgrade the farmer’s income.
          </p>
        </div>
        <div>
          <h4 class="highlight"><strong>Production</strong></h4>
          <p class="text-muted">
            Home Grow has more than 100 experienced contract seed growers and 5
            confined farm for seed production. More than 200 acre of land is
            engaged for seed production.
          </p>
        </div>
        <div>
          <h4 class="highlight">
            <strong> Export </strong>
          </h4>
          <p class="text-muted">
            We produce seed production of different op and hybrid vegetables as
            contract basis for different countries like Hongkong, Pakistan,
            Malaysia, S. Korea, China etc.
          </p>
        </div>
        <div>
          <h4 class="highlight">Contact Us</h4>
          <p class="text-muted">
            email: info@homegrowbd.com
            <br />
            Phone: 01731106046 
            <br />
            Website:www.homegrowbd.com
            <br />
            Kadim Gaziaron, Goshingga, Shreepur, Gazipur.
          </p>
        </div>
      </section>
      <hr />
      <section class="copyright">
        <p class="pb-5 text-center text-muted">
          &#169; Copyright reserved by
          <span class="highlight">Home Grow 2022</span>
          <br />
          Design and Developed by <span class="highlight">NSR DevZone</span>
        </p>
      </section>
    </footer>
    <!-- link bottstrap js -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- fancy gallery js  -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script>
      Fancybox.bind("#gallery a", {
        groupAll: true, // Group all items
        on: {
          ready: (fancybox) => {
            console.log(`fancybox #${fancybox.id} is ready!`);
          },
        },
      });
    </script>
    <!-- animation js  -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- additional js  -->
    <script src="../js/gallery.js"></script>
  </body>
</html>
